.route--active {
  font-weight: bold;
  text-decoration: underline;
}

.button-text {
  margin-top:-5px;
  text-decoration: none;
}

.pill-menu {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  color: #FFF;
  box-sizing: border-box;
  margin: 0 15px 0 0;
  cursor: pointer;
}
