
.dythco-drawer__icon-header {
  font-size: 1.2em;
  padding-bottom: 0.8em;
  padding-left: 0.8em;
}

.dythco-drawer__icon {
    background: white;
    height: 3.5rem;
    width: 3.5rem;
    font-size: 3rem;
    border-radius: 50%;
    padding-top: 0.25rem;
    padding-left: 0.25rem;
    color: var(--mdc-theme-primary);
}

.dythco-drawer__link:hover {
  background: rgba(0,0,0,.03);
}

.dythco-drawer__spacer {
  border-top: 1px solid #e4e4e4;
}

.dythco-drawer__bottom {
  border-bottom: 1px solid #e4e4e4;
}

.dythco-drawer__link {

}
