.core-layout__viewport {
  padding-left: 12px;
  padding-right: 12px;
  width:100%;
  display: flex;
  justify-content: center;
}

.dythco-footer {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}
