.dythco-request-form__field {
  width: 100%;
}

.dythco-request-form__title {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  color: var(--mdc-theme-text-primary-on-light,rgba(0,0,0,.87));
}

.dythco-request-form__button {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 5px;
}

.dythco-request-form__caption {
  margin-top: 5px;
}
